<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings configSource="testhost.dll.secret.config" />
</configuration>

<!-- 
connection strings should be in testhost.dll.secret.config which is gitignored
the secret.config should have a connectionstring called devconn and unittestconn
-->